/.bundle/
/vendor/bundle/
/steep/.bundle/
/steep/vendor/bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
**/.ruby-version
**/.rvmrc
**/.rbfu-version
**/.rbenv-version
**/.versions.conf
/vendor/sigs
/Gemfile.lock

lib/**/*.bundle
lib/**/*.so
lib/**/*.dll
