/.bundle/
/vendor/bundle/
/steep/.bundle/
/steep/vendor/bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
**/.ruby-version
**/.rvmrc
**/.rbfu-version
**/.rbenv-version
**/.versions.conf
/vendor/sigs

lib/**/*.bundle
lib/**/*.so
lib/**/*.dll
doc/

include/rbs/constants.h
include/rbs/ruby_objs.h
src/constants.c
src/ruby_objs.c

**/*.gem
